* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./assests/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./assests/Roboto-Regular.ttf");
}

html { 
  overflow:  hidden; 
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  position: absolute;
  width: calc(100% - 2px);
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
  border-right: 2px solid #eee;
  border-top: 2px solid #eee;
  z-index: 2;
}

h1 {
  position: absolute;
  top: 10px;
  left: 72px;
  font-family: Roboto-Medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.87);
}

main {
  position: absolute;
  top: 52px;
  height: calc(100vh - 52px);
  width: 100%;
}

aside {
  position: absolute;
  background: white;
  width: 20%;
  max-width: 230px;
  min-width: 150px;
  height: 250px;
  z-index: 1;
  left: 5%;
  box-shadow: 0px 2px 2px 2.5px rgba(0,0,0,0.3);
}

#tools {
  top: 10%;
}

#colors {
  top: 50%;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#colorTools {
  height: 45%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#transformTools {
  height: 55%;
}

#changebale {
  height: 45%;
  border-bottom: 1px solid  rgba(0, 0, 0, 0.12);
}

#predefined {
  height: 55%;
}

#colorPicker, #paintBucket, #previous, #current, #move, #transform {
  position: relative;
  top: 15%;
  height: 40%;
  padding-left: 10%;
  width: 100%;
}

#paintBucket:hover {
  cursor: pointer;
}

#colorPicker:hover {
  cursor: pointer;
}

#move:hover {
  cursor: pointer;
}

#transform:hover {
  cursor: pointer;
}

#current:hover {
  cursor: pointer;
}

#previous:hover {
  cursor: pointer;
}

#first:hover {
  cursor: pointer;
}

#second:hover {
  cursor: pointer;
}

h2 {
  top: -10%;
  position: relative;
  margin-left: 15%;
  font-family: Roboto-Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.541327);
}

#first, #second, #personal {
  height: 30%;
  position: relative;
  top: 10%;
  padding-left: 10%;
}

#curr {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #C4C4C4;
  border: 1px solid #000000;
  box-sizing: border-box;
  display: inline-block;
}

#prev {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #41F795;
  border: 1px solid #000000;
  box-sizing: border-box;
  display: inline-block;
}

#red {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #F74141;
  border: 1px solid #000000;
  box-sizing: border-box;
  display: inline-block;
}

#blue {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #41B6F7;
  border: 1px solid #000000;
  box-sizing: border-box;
  display: inline-block;
}

input {
  width: 20px;
  height: 20px;
  border: none;
  display: inline-block;
}
